.sidebar {
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 210px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */

    z-index: 150;

}


@media (max-width: 720px)  {
    .video-grid {
        grid-template-columns: 1fr;
        
    }
    .thumbnail {
        border-radius: 0%;
    } 
    .video-row-grid {
        padding-left: 10px;
    }
    .middle-section {
        display: none;
    }
    .sidebar {
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        top: 90vh;
        flex-direction: row;

    }
    body {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 100px;
    }
    .left-section .hamburger-menu {
        display: none;
    }
    .left-section {
        padding-left: 20px;
    }
}

.sidebar-link {
    /* border: 1px solid; */
     /* width: 100%; */
    padding-left: 12px;
    height: 37px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1px 12px;
    border-radius: 10px;
    
}
.sidebar-link:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.sidebar-link div {
    font-size: 14px;
    text-align: center;
    margin-top: 2px;
    font-weight: 440;
}
.sidebar-icon {
    width: 24px;
    padding-right: 27px;
    /* margin: 0 auto; */
}


@media (min-width: 720px) and (max-width: 799px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
    .sidebar {
        width: 68px;
        
    }

    .sidebar-link {
        /* border: 1px solid; */
         /* width: 100%; */
        padding-left: 3px;
        height: 68px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        border-radius: 0;
        
        
    }

    .sidebar-link div {
        font-size: 9px;
        text-align: center;
        margin-top: 2px;
        
    }

    .sidebar-icon {
        width: 24px;
        padding-right: 0;
        margin: 0 auto;
    }

    body {
        padding-left: 90px;
    }
}

